@font-face {
    font-family: 'acumin_proitalic';
    src: url('../fonts/acuminpro-italic-webfont.woff2') format('woff2'),
         url('../fonts/acuminpro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acumin_proregular';
    src: url('../fonts/acuminpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/acuminpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acumin_pro_widemedium';
    src: url('../fonts/acuminprowide-medium-webfont.woff2') format('woff2'),
         url('../fonts/acuminprowide-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acumin_pro_widemedium_italic';
    src: url('../fonts/acuminprowide-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/acuminprowide-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acumin_pro_widebold_italic';
    src: url('../fonts/acuminprowide-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/acuminprowide-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acumin_pro_widebold';
    src: url('../fonts/acuminprowide-bold-webfont.woff2') format('woff2'),
         url('../fonts/acuminprowide-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}