$full-width: 100%;
$page-width: 1680px;

$ultra-thin: .5rem;
$thin: 1rem;
$medium: 2rem;
$thick: 3rem;
$ultra-thick: 4rem;


$color_dark: #2C2E35;
$color_light: #FFFFFF;
$color_grass: #07452E;
$color_mora: #C7B9DB;
$color_lila: #D5BEDC;
$color_neutral: #E8E4DF; //Que siga el Hueveo
$color_highlight: #F8EE53;

$font_heading: 'acumin_pro_widemedium';
$font_heading_alt: 'acumin_pro_widebold';
$font_body: 'acumin_proregular';